@media screen and (min-width: 640px) {
  nav{
    position: relative;
    margin: 0 auto;
    width: 640px;
    height: 74px;
  }

  /* div a{
    display: block;
  } */



  .Rectangle_ligth {
    background-color: rgb(55, 60, 63);
    background-image: url(../images/navigation/lightRectangle.gif);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 640px;
    height: 74px;
    z-index: 1;
  }

  .Rectangle_Dark {
    background-color: rgb(32, 37, 41);
    background-image: url(../images/navigation/darkRectangle.gif);
    position: absolute;
    left: 558px;
    top: 0px;
    width: 82px;
    height: 74px;
    z-index: 2;
  }

  .Rectangle_2_pos3 {
    background-color: rgb(255, 255, 255);
    background-image: url(../images/navigation/rectangle_white.gif);
    position: absolute;
    left: 586px;
    top: 42px;
    width: 32px;
    height: 4px;
    z-index: 5;
  }
  .Rectangle_2_pos2 {
    background-color: rgb(255, 255, 255);
    background-image: url(../images/navigation/rectangle_white.gif);
    position: absolute;
    left: 586px;
    top: 34px;
    width: 32px;
    height: 4px;
    z-index: 4;
  }
  .Rectangle_2_pos1 {
    background-color: rgb(255, 255, 255);
    position: absolute;
    background-image: url(../images/navigation/rectangle_white.gif);
    /* outline: 1px solid #b8191f; */
    left: 586px;
    top: 26px;
    width: 32px;
    height: 4px;
    z-index: 3;
  }

  nav .HeaderText {
    font-family: "Montserrat";
    font-size: 24px;
    z-index: 7;
    position: absolute;
    top: 23px;
    left: 38px;
    width: 128px;
    /* outline: 1px solid #3a6bf2; */
    color: rgb(235, 235, 235);
  }

  /* Баннер */
  .baner{
    position: relative;
    margin: 0 auto;
    width: 640px;
    height: 350px;
    /* background-image: (../images/ */
    /* outline: 1px solid rgb(6, 212, 70); */

  }

  .baner img{
    width: 640px;
    height: 350px;
    z-index: 0;
  }

  .bigText{
    position: absolute;
    top: 100px;
    left: 50px;
    line-height: 1.083;
    font-family: "Montserrat";
    /* font-weight: bold; */
    font-size: 40px;
    width: 75%;
    color: rgb(255, 255, 255);
  }

  .siteURL {
    position: absolute;
    font-family: "Montserrat";
    color: rgba(255, 255, 255, 0.502);
    line-height: 1.912;
    top: 208px;
    left: 50px;
    font-size: 22.5px;
  }


  .anglebr {
    position: absolute;
    font-family: "Quicksand";
    color: rgb(255, 255, 255);
    font-weight: bold;
    top: 213px;
    left: 493px;
    font-size: 24px;
  }

  /* i'm like the Robin... */

  .textBox {
    margin: 0 auto;
    position: relative;
    /* outline: 1px solid rgb(249, 34, 174); */
    width: 640px;
    height: 150px;
  }

  .bgBlock {
    width: 640px;
    height: 150px;
    z-index: 0;
  }

  .rightAside{
    z-index: 1;
    height: 150px;
    width: 142px;
    position: absolute;
    top: 0px;
    left: 498px;
  }

  .textDecor {
    font-family: "Montserrat";
    color: rgb(146, 130, 160);
    /* line-height: 2.167; */
    font-size: 20px;
    position: absolute;
    top: 68px;
    left: 52px;
    z-index: 1;
  }

  .bigBracket {
    font-family: "Quicksand";
    font-size: 28px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    z-index: 2;
    position: absolute;
    top: 54px;
    right: 64px;
  }


  /* Фиолетовый фон + скобка */

  .bigAngleBr {
    margin: 0 auto;
    width: 640px;
    height: 550px;
    /* outline: 1px solid rgb(221, 209, 29); */
    background-color: rgb(91, 15, 161);
    position: relative;
  }

  .brDecor {
    z-index: 1;
    position: absolute;
    font-family: "Quicksand";
    color: rgb(255, 255, 255);
    font-weight: bold;
    /* line-height: 0.551; */
    top: 190px;
    left: 306px;
    font-size: 100px;
  }

  /* две картинки */

  .picture {
    margin: 0 auto;
    width: 640px;
    height: 1104px;
    position: relative;
  }


  .picture img  {
    float: left;
    width: 640px;
    height: 552px;
  }

/* текст */
  .textarea {
    position: relative;
    width: 640px;
    height: 894px;
    /* outline: 1px solid rgb(80, 240, 87); */
    margin: 0 auto;
    background-image: url(../images/bgArticle.jpg);
    /* repeat: repeat-x, repeat-y; */
  }

  .urlStyle  {
    font-family: "Montserrat";
    color: rgb(8, 140, 165);
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
    font-size: 30px;
    position: absolute;
    left: 62px;
    top: 76px;
  }

  .article {
    font-family: "Montserrat";
    color: rgb(81, 81, 81);
    position: absolute;
    /* display: inline-block; */
    left: 62px;
    top: 130px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
    width: 530px;
    height: 670px;
    line-height: 1.86;
    font-size: 23px;
    /* outline: 1px solid rgb(37, 199, 183); */

  }

  p {
    margin-bottom: 60px;
    margin-top: 25;
  }

  .article-right{
    display: none;
  }

}

@media screen and (min-width: 980px) {
  .clearfix:after {
      content: "";
      display: table;
      clear: both;
  }

  .Rectangle_Dark, .Rectangle_2_pos1, .Rectangle_2_pos2, .Rectangle_2_pos3, .HeaderText{
    display: none;
  }

  nav{
    position: relative;
    margin: 0 auto;
    width: 980px;
    height: 98px;
  }

.Rectangle_ligth{
  width: 980px;
  height: 98px;
  /* margin: 0 auto; */
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 0px;

}

.forBigScreen{
  position: absolute;
  width: 532px;
  font-size: 14.5px;
  top: 38px;
  left: 53px;
  /* letter-spacing: 1px; */
  z-index: 1;
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 1.733;
}


.baner{
  position: relative;
  margin: 0 auto;
  width: 980px;
  height: 549px;
  /* background-image: (../images/ */
  /* outline: 1px solid rgb(6, 212, 70); */

}

.baner img{
  width: 980px;
  height: 549px;
  z-index: 0;
}

.bigText{
  position: absolute;
  top: 181px;
  left: 78px;
  word-spacing: -2px;
  line-height: 1.083;
  font-family: "Montserrat";
  font-weight: 550;
  font-size: 60px;
  width: 75%;
  color: rgb(255, 255, 255);
}

.siteURL {
  position: absolute;
  font-family: "Montserrat";
  color: rgba(255, 255, 255, 0.502);
  line-height: 1.912;
  top: 341px;
  left: 79px;
  font-size: 34.5px;
}


.anglebr {
  position: absolute;
  font-family: "Quicksand";
  color: rgb(255, 255, 255);
  font-weight: bold;
  top: 339px;
  left: 756px;
  font-size: 45px;
}

/* i'm like the Robin... */

.textBox {
  margin: 0 auto;
  position: relative;
  /* outline: 1px solid rgb(249, 34, 174); */
  width: 980px;
  height: 233px;
}

.bgBlock {
  width: 980px;
  height: 233px;
  z-index: 0;
}

.rightAside{
  z-index: 1;
  height: 233px;
  width: 218px;
  position: absolute;
  top: 0px;
  left: 762px;
}

.textDecor {
  font-family: "Montserrat";
  color: rgb(146, 130, 160);
  /* line-height: 2.167; */
  font-size: 30px;
  position: absolute;
  word-spacing: 0px;
  top: 99px;
  left: 82px;
  z-index: 1;
}

.bigBracket {
  font-family: "Quicksand";
  font-size: 50px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  z-index: 2;
  position: absolute;
  top: 72px;
  left: 855px;
}


  /* Фиолетовый фон + скобка */
  .threePictures {
    margin: 0 auto;
    /* outline: 1px solid rgb(31, 78, 164); */
    width: 980px;
  }

  .bigAngleBr  {
    float: left;
    width: 326px;
    height: 283px;
    background-color: rgb(91, 15, 161);
    position: relative;
  }

  .brDecor {
    z-index: 1;
    position: absolute;
    font-family: "Quicksand";
    color: rgb(255, 255, 255);
    font-weight: bold;
    /* line-height: 0.551; */
    top: 97px;
    left: 150px;
    font-size: 50px;
  }

  /* две картинки */

  .picture {
    float: left;
    width: 654px;
    height: 283px;
    /* outline: 1px solid rgb(221, 209, 29); */
    /* position: relative; */
  }


  .picture img  {
    float: left;
    width: 327px;
    height: 283px;
  }

  /* текст */
    .textarea {
      position: relative;
      width: 980px;
      height: 553px;
      /* outline: 1px solid rgb(80, 240, 87); */
      margin: 0 auto;
      background-image: url(../images/bgArticle.jpg);
      /* repeat: repeat-x, repeat-y; */
    }

    .urlStyle  {
      font-family: "Montserrat";
      color: rgb(8, 140, 165);
      text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
      font-size: 30px;
      position: absolute;
      left: 74px;
      top: 63px;
    }

    .article {
      font-family: "Montserrat";
      color: rgb(81, 81, 81);
      position: absolute;
      /* display: inline-block; */
      left: 78px;
      top: 103px;
      text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
      width: 383px;
      height: 670px;
      line-height: 1.8;
      font-size: 14.5px;
      /* outline: 1px solid rgb(37, 199, 183); */

    }

    .article-right{
      display: block;
      font-family: "Montserrat";
      color: rgb(81, 81, 81);
      position: absolute;
      /* display: inline-block; */
      left: 523px;
      top: 103px;
      text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
      width: 383px;
      height: 670px;
      line-height: 1.8;
      font-size: 14.5px;
      /* outline: 1px solid rgb(37, 199, 183); */
    }

    p {
      margin-bottom: 32px;
      margin-top: 25;
    }

a{
  text-decoration: none;
}

a:link{
  color: rgb(255, 255, 255);
}

a:active{
  color: rgb(255, 255, 255);
}

a:visited{
  color: rgb(255, 255, 255);
}

a:hover{
  background-color: rgb(67, 78, 70);
}


@media screen and (min-width: 1024px) {
  .clearfix:after {
      content: "";
      display: table;
      clear: both;
  }

  .Rectangle_Dark, .Rectangle_2_pos1, .Rectangle_2_pos2, .Rectangle_2_pos3, .HeaderText{
    display: none;
  }

  nav{
    position: relative;
    margin: 0 auto;
    width: 1024px;
    height: 96px;
  }

.Rectangle_ligth{
  width: 1024px;
  height: 96px;
  /* margin: 0 auto; */
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 0px;

}

.forBigScreen{
  position: absolute;
  width: 532px;
  font-size: 14.5px;
  top: 37px;
  left: 54px;
  /* letter-spacing: 1px; */
  z-index: 1;
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 1.733;
}


.baner{
  position: relative;
  margin: 0 auto;
  width: 1024px;
  height: 575px;
  /* background-image: (../images/ */
  /* outline: 1px solid rgb(6, 212, 70); */

}

.baner img{
  width: 1024px;
  height: 575px;
  z-index: 0;
}

.bigText{
  position: absolute;
  top: 192px;
  left: 84px;
  letter-spacing: 0.5px;
  word-spacing: 2.5px;
  line-height: 1.12;
  font-family: "Montserrat";
  font-weight: 550;
  font-size: 60px;
  width: 75%;
  color: rgb(255, 255, 255);
}

.siteURL {
  position: absolute;
  font-family: "Montserrat";
  color: rgba(255, 255, 255, 0.502);
  line-height: 1.912;
  top: 358px;
  left: 85px;
  font-size: 36px;
}


.anglebr {
  position: absolute;
  font-family: "Quicksand";
  color: rgb(255, 255, 255);
  font-weight: bold;
  top: 360px;
  left: 782px;
  font-size: 45px;
}

/* i'm like the Robin... */

.textBox {
  margin: 0 auto;
  position: relative;
  /* outline: 1px solid rgb(249, 34, 174); */
  width: 1024px;
  height: 244px;
}

.bgBlock {
  width: 1024px;
  height: 244px;
  z-index: 0;
}

.rightAside{
  z-index: 1;
  height: 244px;
  width: 229px;
  position: absolute;
  top: 0px;
  left: 795px;
}

.textDecor {
  font-family: "Montserrat";
  color: rgb(146, 130, 160);
  /* line-height: 2.167; */
  font-size: 32px;
  position: absolute;
  word-spacing: -1px;
  /* letter-spacing: -1px; */
  top: 104px;
  left: 85px;
  z-index: 1;
}

.bigBracket {
  font-family: "Quicksand";
  font-size: 55px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  z-index: 2;
  position: absolute;
  top: 76px;
  left: 890px;
}


  /* Фиолетовый фон + скобка */
  .threePictures {
    margin: 0 auto;
    /* outline: 1px solid rgb(31, 78, 164); */
    width: 1024px;
  }

  .bigAngleBr  {
    float: left;
    width: 341.3px;
    height: 295px;
    background-color: rgb(91, 15, 161);
    position: relative;
  }

  .brDecor {
    z-index: 1;
    position: absolute;
    font-family: "Quicksand";
    color: rgb(255, 255, 255);
    font-weight: bold;
    /* line-height: 0.551; */
    top: 101px;
    left: 151px;
    font-size: 55px;
  }

  /* две картинки */

  .picture {
    float: left;
    width: 682.6px;
    height: 283px;
    /* outline: 1px solid rgb(221, 209, 29); */
    /* position: relative; */
  }


  .picture img  {
    float: left;
    width: 341.3px;
    height: 295px;
  }

  /* текст */
    .textarea {
      position: relative;
      width: 1024px;
      height: 563px;
      /* outline: 1px solid rgb(80, 240, 87); */
      margin: 0 auto;
      background-image: url(../images/bgArticle.jpg);
      /* repeat: repeat-x, repeat-y; */
    }

    .urlStyle  {
      font-family: "Montserrat";
      color: rgb(8, 140, 165);
      text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
      font-size: 30px;
      position: absolute;
      left: 78px;
      top: 49px;
    }

    .article {
      font-family: "Montserrat";
      color: rgb(81, 81, 81);
      position: absolute;
      left: 83px;
      top: 88px;
      text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
      width: 420px;
      height: 670px;
      /* word-spacing: -0.4px; */
      /* letter-spacing: 1px; */
      line-height: 1.8;
      font-size: 14.5px;
      /* outline: 1px solid rgb(37, 199, 183); */

    }

    .article-right{
      display: block;
      font-family: "Montserrat";
      color: rgb(81, 81, 81);
      position: absolute;
      /* display: inline-block; */
      left: 542px;
      top: 88px;
      text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
      width: 420px;
      height: 670px;
      line-height: 1.8;
      font-size: 14.5px;
      /* outline: 1px solid rgb(37, 199, 183); */
    }

    p {
      margin-bottom: 32px;
      margin-top: 25;
    }

a{
  text-decoration: none;
}

a:link{
  color: rgb(255, 255, 255);
}

a:active{
  color: rgb(255, 255, 255);
}

a:visited{
  color: rgb(255, 255, 255);
}

a:hover{
  background-color: rgb(67, 78, 70);
}

}
