@media screen and (min-width: 640px) {
  nav{
    position: relative;
    margin: 0 auto;
    width: 640px;
    height: 74px;
  }

  .Rectangle_ligth {
    background-color: rgb(55, 60, 63);
    /* background-image: url(../images/navigation/lightRectangle.gif); */
    position: absolute;
    left: 0px;
    top: 0px;
    width: 640px;
    height: 74px;
    z-index: 1;
  }

  .Rectangle_Dark {
    background-color: rgb(32, 37, 41);
    position: absolute;
    left: 558px;
    top: 0px;
    width: 82px;
    height: 74px;
    z-index: 2;
  }

  .Rectangle_2_pos3 {
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 586px;
    top: 42px;
    width: 32px;
    height: 4px;
    z-index: 5;
  }
  .Rectangle_2_pos2 {
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 586px;
    top: 34px;
    width: 32px;
    height: 4px;
    z-index: 4;
  }
  .Rectangle_2_pos1 {
    background-color: rgb(255, 255, 255);
    position: absolute;
    /* outline: 1px solid #b8191f; */
    left: 586px;
    top: 26px;
    width: 32px;
    height: 4px;
    z-index: 3;
  }

  nav .HeaderText {
    font-family: "Montserrat";
    font-size: 24px;
    z-index: 7;
    position: absolute;
    top: 23px;
    left: 38px;
    width: 128px;
    /* outline: 1px solid #3a6bf2; */
    color: rgb(235, 235, 235);
  }

  /* Баннер */
  .baner{
    position: relative;
    margin: 0 auto;
    width: 640px;
    height: 350px;
    /* background-image: (../images/ */
    /* outline: 1px solid rgb(6, 212, 70); */

  }

  .baner img{
    width: 640px;
    height: 350px;
    z-index: 0;
  }

  .bigText{
    position: absolute;
    top: 100px;
    left: 50px;
    line-height: 1.083;
    font-family: "Montserrat";
    /* font-weight: bold; */
    font-size: 40px;
    width: 75%;
    color: rgb(255, 255, 255);
  }

  .siteURL {
    position: absolute;
    font-family: "Montserrat";
    color: rgba(255, 255, 255, 0.502);
    line-height: 1.912;
    top: 208px;
    left: 50px;
    font-size: 22.5px;
  }


  .anglebr {
    position: absolute;
    font-family: "Quicksand";
    color: rgb(255, 255, 255);
    font-weight: bold;
    top: 213px;
    left: 493px;
    font-size: 24px;
  }

  /* i'm like the Robin... */

  .textBox {
    margin: 0 auto;
    position: relative;
    /* outline: 1px solid rgb(249, 34, 174); */
    width: 640px;
    height: 150px;
  }

  .bgBlock {
    width: 640px;
    height: 150px;
    z-index: 0;
  }

  .rightAside{
    z-index: 1;
    height: 150px;
    width: 142px;
    position: absolute;
    top: 0px;
    left: 498px;
  }

  .textDecor {
    font-family: "Montserrat";
    color: rgb(146, 130, 160);
    /* line-height: 2.167; */
    font-size: 20px;
    position: absolute;
    top: 68px;
    left: 52px;
    z-index: 1;
  }

  .bigBracket {
    font-family: "Quicksand";
    font-size: 28px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    z-index: 2;
    position: absolute;
    top: 54px;
    right: 64px;
  }


  /* Фиолетовый фон + скобка */

  .bigAngleBr {
    margin: 0 auto;
    width: 640px;
    height: 550px;
    /* outline: 1px solid rgb(221, 209, 29); */
    background-color: rgb(91, 15, 161);
    position: relative;
  }

  .brDecor {
    z-index: 1;
    position: absolute;
    font-family: "Quicksand";
    color: rgb(255, 255, 255);
    font-weight: bold;
    /* line-height: 0.551; */
    top: 190px;
    left: 306px;
    font-size: 100px;
  }

  /* две картинки */

  .picture {
    margin: 0 auto;
    width: 640px;
    height: 1104px;
    position: relative;
  }


  .picture img  {
    float: left;
    width: 640px;
    height: 552px;
  }

  .textarea {
    position: relative;
    width: 640px;
    height: 894px;
    /* outline: 1px solid rgb(80, 240, 87); */
    margin: 0 auto;
    background-image: url(../images/bgArticle.jpg);
    /* repeat: repeat-x, repeat-y; */
  }

  .urlStyle  {
    font-family: "Montserrat";
    color: rgb(8, 140, 165);
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
    font-size: 30px;
    position: absolute;
    left: 62px;
    top: 76px;
  }

  .article {
    font-family: "Montserrat";
    color: rgb(81, 81, 81);
    position: absolute;
    /* display: inline-block; */
    left: 62px;
    top: 130px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
    width: 530px;
    height: 670px;
    line-height: 1.86;
    font-size: 23px;
    /* outline: 1px solid rgb(37, 199, 183); */

  }

  p {
    margin-bottom: 60px;
    margin-top: 25;
  }

}
